{{/* The page reference is the first parameter */}}
{{- $ref := .Get 0 -}}
{{- $page := $ref -}}
{{/* We check to see if we have a hash in the ref so we can ignore it when we get the page's info */}}
{{- if (in $page "#") -}}
  {{- $parts := split $page "#" -}}
  {{- $page = (index $parts 0) -}}
{{- end -}}
{{/* Get information about the page at the ref */}}
{{- $page = $.Site.GetPage $page -}}
{{/* The text used for the anchor will be the inner content. */}}
{{- $linkText := .Inner -}}
{{- with $page -}}
{{/* If anchor text was not sent in, we'll use the title of the page we are referencing */}}
{{- if not ($linkText) -}}{{- $linkText = .Title -}}{{- end -}}
[{{- $linkText -}}]({{ relref . $ref }} "{{- .Description -}}")
{{- end -}}